<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.css">

    <link rel="stylesheet" href="../css/details.css">
</head>

<body>
    <header>
        <div>
            <a href="index.html">
                <img src="../img/index-assets/logo.png" alt="">
            </a>
            <div>
                <ul>

                    <li><a href="index.html">首页</a></li>
                    <li><a class="bg1" href="works.html">作品</a></li>
                    <li><a href="Share.html">分享</a></li>
                    <li><a href="Resources.html">资源</a></li>
                    <li><a href="about.html">关于</a></li>
                    <li class="zhudeng deng"><a href="Logon.html">登陆</a></li>
                    <li class="zhudeng zhu"><a href="register.html">注册</a></li>
                    <li class="ydl">
                        <p>你好<a href="personal.html?name=小辣椒">小辣椒</a>|<a href="tuixhui.html">退出</a></p>
                    </li>
                </ul>
            </div>
            <p></p>
        </div>
    </header>
    <div class="head">
        <div class="headmain">
            <h4>iPinto智能水杯APP</h4>
            <p><span><img  src="../img/index-assets/user.png" alt=""></span>
                <a class="zuoimg" href="personal.html?name=呛口小辣椒">呛口小辣椒</a>Tag：
                <a href="javascript:;">用户体验</a>,
                <a href="javascript:;">前段</a>,
                <a href="javascript:;">UI</a>
            </p>
            <div class="zans">
                <section>浏览量<span>3728</span></section>
                <div><span><img src="../img/index-assets/comment.png"></span><span class="lefd">58</span></div>
                <div><span><img src="../img/index-assets/Zambia.png" alt=""></span><span class="lastspan">46</span></div>
            </div>
        </div>

    </div>
    <div class="warp">
        <div class="imgdetails">
        </div>
        <div class="textdetails1">
            <div class="texts">
                <h4>ANOTHER　WAY</h4>
                <p>shjdwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbagahrrtsmndtgmy</p>
                <p>s4w5hbagahwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbagahrrtsmndtgmy</p>
            </div>
            <div class="imgs"></div>
        </div>
        <div class="textdetails2">
            <h4>ANOTHER　WAY</h4>
            <p>shjdwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbgmy</p>
            <p>s4w5hbagahwsthb4w5hbagahwsthb4w5hbagahwsthb4w5hbagahrrtsmndtgmy</p>
            <div class="imgs"></div>
        </div>
        <div class="zanmos">
            <img src="../img/index-assets/bigzan.png">
            <p>赞一下</p>
        </div>
        <div class="gengduo">
            <div class="title">
                更多相关

            </div>
            <div class="next buttons"></div>
            <div class="prev buttons"></div>

            <div class="concent swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="javascript:;"><img src="../img/index-assets/item1.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item2.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item3.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item2.png" alt=""></a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;"><img src="../img/index-assets/item1.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item2.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item3.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item2.png" alt=""></a>
                    </li>
                    <li class="swiper-slide">
                        <a href="javascript:;"><img src="../img/index-assets/item1.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item2.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item3.png" alt=""></a>
                        <a href="javascript:;"><img src="../img/index-assets/item2.png" alt=""></a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="pinlun">
            <h3>评论<span>(957)</span></h3>
            <a href="javascript:;"><img src="../img/index-assets/head.png" alt=""></a>
            <div class="rights">
                <h4>oiaehgiaeh <span>欢迎来到eued</span></h4>
                <p>你还没有登陆<span>eued</span>平台，请登录后评论</p>
                <textarea></textarea>
                <div class="buttns">发表评论</div>
            </div>
        </div>
        <div class="dianpin">
            <div class="list">
                <a href="javascript:;" class="imgs"><img src="../img/index-assets/head.png"></a>
                <div class="texts">
                    <h4>黛西 = 琼斯<span> 两个小时前</span></h4>
                    <p>根据英国同性恋女作家莎拉·沃特斯的第三部作品《指匠情挑》改编，原作讲述英国维多利亚时代，在贼窝长大的少女刻意接近贵族女继承人，不料与之发生真挚感情的故事。朴赞郁将对该小说进行韩国近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编，讲述的是日本人贵族和朝鲜女仆之间的故进行韩国近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编，讲述的是日本人贵族和朝鲜女仆之间的故事。</p>
                </div>
            </div>
            <div class="list">
                <a href="javascript:;" class="imgs"><img src="../img/index-assets/head.png"></a>
                <div class="texts">
                    <h4>黛西 = 琼斯<span> 两个小时前</span></h4>
                    <p>根据英国同性恋女作家莎拉·沃特斯的第三部作品《指匠情挑》改编，原作讲述英国维多利亚时代，在贼窝长大的少女刻意接近贵族女继承人，不料与之发生真挚感情的故事。朴赞郁将对该小说进行韩国近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编，讲述的是日本人贵族和朝鲜女仆之间的故进行韩国近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编近代日本统治时期背景的改编，讲述的是日本人贵族和朝鲜女仆之间的故事。</p>
                </div>
            </div>
            <div class="list">
                <a href="javascript:;" class="imgs"><img src="../img/index-assets/head.png"></a>
                <div class="texts">
                    <h4>黛西 = 琼斯<span> 两个小时前</span></h4>
                    <h5>Good like!~<span>  @ 大卫</span></h5>
                    <p>根据英国同性恋女作家莎拉·沃特斯的第三部作品《指匠情挑》改编，原作讲述英国维多利亚时代，在贼窝长大的少女刻意接近贵族女继承人，不料与之发生真挚感情的故事。朴赞郁将对该小说进行韩国近代日本统治时期背景的改编，讲述的是日本人贵族和朝鲜女仆之间的故事。</p>
                </div>
            </div>
            <div class="list">
                <a href="javascript:;" class="imgs"><img src="../img/index-assets/head.png"></a>
                <div class="texts">
                    <h4>黛西 = 琼斯<span> 两个小时前</span></h4>
                    <p>根据英国同性恋女作家莎拉·沃特斯的第三部作品《指匠情挑》改编，原作讲述英国维多利亚时代，在贼窝长大的少女刻意接近贵族女继承人，不料与之发生真挚感情的故事。朴赞郁将对该小说进行韩国近代日本统治时期背景的改编，讲述的是日本人贵族和朝鲜女仆之间的故事。</p>
                </div>
            </div>


        </div>
    </div>

    <footer>
        <div>
            <div class="footerleft">
                <img src="../img/index-assets/footerlogo.png">
                <ul>
                    <li>
                        <a href="javascript:;">东方金科</a></li>
                    <li>
                        <a href="javascript:;">东方资产</a></li>
                    <li>
                        <a href="javascript:;">东方汇</a></li>
                    <li>
                        <a href="javascript:;">EUED.ME</a></li>
                </ul>
            </div>
            <div class="footerright">
                © 2016 <span>EUED.ME.</span> All Rights Reserved.
            </div>
        </div>
    </footer>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/geturl.js"></script>
    <script>
        var winhei = $(window).height();
        window.onscroll = function (e) {
            var top = $(window).scrollTop();
            if (top < 100) {
                $("header").removeClass("headermove");
            } else if (top > 100) {
                $("header").addClass("headermove");
            }
        };


        var mySwiper = new Swiper(".concent", {
            loop: true,
            speed: 800,
            prevButton: '.prev',
            nextButton: '.next'
        });
    </script>
</body>

</html>